<div dir="ltr" class="grid gap-2 sm:grid-cols-5 " [ngClass]="containerClassName()">
    @for (control of verificationValues(); track control ; let i = $index) {
    <input class="w-8 h-10 border border-gray-300 rounded-md focus:border-blue-500 focus:ring-1 focus:ring-blue-400 focus:outline-none
             transition-all transition-colors duration-40 text-center text-sm"
        [ngClass]="[className() || '' , isBoxCorrect(i) ? 'border-green-500' : 'border-gray-300' ]"
        [style.background-color]="backgroundColor()" #codeInput [formControl]="control" type="text"
        [attr.maxlength]="getMaxLengthPerBox(i)" (input)="onInput($event , i)" (keydown)="onKeyDown($event , i)"
        (paste)="onPaste($event , i)">
    }
</div>