<div dir="rtl" class="mt-2 p-4 flex justify-center">
    <form [formGroup]="userProfileForm" class="grid lg:grid-cols-1 gap-4 w-80">

        <app-select formControlName="userType" label="نوع کاربر" placeholder="لطفا نوع کاربر خود را انتخاب کنید"
            [options]="UserTypeOptions" backgroundColor="#F1F3E0">
        </app-select>

        <div *ngIf="selectedUserType() === 1" [attr.key]="1">
            <app-natural-person-form [parentForm]="userProfileForm" [usernameUnmetRules]="usernameUnmetRules()"
                [passwordUnmetRules]="passwordUnmetRules()" [nationalUnmetRules]="nationalUnmetRules()"
                [phoneUnmetRules]="phoneUnmetRules()" [passwordScore]="passwordScore()" [passwordColor]="passwordColor()"
                [passwordPercentage]="passwordPercentage()"></app-natural-person-form>
        </div>

        <div *ngIf="selectedUserType() === 2" [attr.key]="2">
            <app-legal-person-form [parentForm]="userProfileForm" [usernameUnmetRules]="usernameUnmetRules()"
                [passwordUnmetRules]="passwordUnmetRules()" [compnationalUnmetRules]="compnationalUnmetRules()"
                [phoneUnmetRules]="phoneUnmetRules()" [passwordScore]="passwordScore()" [passwordColor]="passwordColor()"
                [passwordPercentage]="passwordPercentage()"></app-legal-person-form>
        </div>
        
        </form>
</div>